[user]
  name = Bartek Łukasik
  email = blukasik@cybervadis.com
[includeIf "gitdir:~/code/gh/prv/"]
  path = ~/.gitconfig.prv
[includeIf "gitdir:~/Documents/sync/private-sync/"]
  path = ~/.gitconfig.prv
[core]
  autocrlf = input
  editor = vim
[credential]
	helper =
	helper = /usr/local/share/gcm-core/git-credential-manager
[credential "https://dev.azure.com"]
	useHttpPath = true
