[Desktop Entry]
Name=Slack Iconized
Comment=Slack Desktop with Xfce icon
GenericName=Slack Client for Linux
Exec=/home/blukasik/dotfiles/scripts/run-slack.sh
Icon=/usr/share/pixmaps/slack.png
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Network;InstantMessaging;
MimeType=x-scheme-handler/slack;
